# 编译产物
build/
Debug/
Release/
*.o
*.elf
*.bin
*.hex
*.map

# IDE
.vscode/
.idea/
*.uvguix*
*.uvoptx

# 系统文件
.DS_Store
Thumbs.db

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.CMake
Makefile

# Executable
*.exe
